.td-popover .mantine-Popover-dropdown {
  bottom: 100%;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.td-popover .mantine-Popover-dropdown .popover-box {
  border: 1px solid #38cb89;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.mantine-vqs8oh {
  top: 10px;
  bottom: unset;
}
.mantine-Notification-root {
  @apply rounded-2xl bg-white border border-afexgreen p-0 pr-6;
}
#success.mantine-Notification-root {
  @apply border-afexgreen;
}
#warning.mantine-Notification-root {
  @apply border-warninig;
}
#error.mantine-Notification-root {
  @apply border-error;
}
.mantine-Notification-root button:hover {
  @apply bg-transparent scale-125 transition-all duration-150;
}
.mantine-Notification-root::before {
  @apply w-full h-full top-0 left-0 rounded-2xl;
}
#success.mantine-Notification-root::before {
  @apply bg-afexgreen-lighter;
}
#warning.mantine-Notification-root::before {
  @apply bg-warninig-lighter;
}
#error.mantine-Notification-root::before {
  @apply bg-error-lighter;
}

.mantine-Notification-root .mantine-Notification-body {
  @apply p-6;
}
