.mantine-Paper-root {
  width: 100%;
  height: -webkit-fill-available;
}
.mantine-1abbsss {
  margin-left: 0;
}
.table th,
.table td {
  @apply px-[14px] py-[18px] whitespace-nowrap text-start capitalize border-b border-textgrey-lighter;
}