::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgb(233, 230, 230);
}

.sidebar a[aria-current='page'] svg path {
  fill: #38cb89;
}

.mantine-Modal-modal {
  padding: 0;
  border-radius: 1.75rem;
}
.mantine-Modal-header {
  color: #54565b;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 2rem 2rem 1rem 2rem;
}
.mantine-Pagination-item {
  border: none;
}
.mantine-Pagination-item[data-active] {
  background-color: transparent;
  color: #38cb89;
}
.mantine-Calendar-day[data-selected='true'] {
  background-color: #38cb89;
}
.mantine-Pagination-item:first-child,
.mantine-Pagination-item:last-child {
  background-color: #38cb89;
  color: #fff;
}
.mantine-Popover-dropdown {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 10px;
  background-color: #f9fafb;
  border-color: #38cb89;
  padding: 15px;
  border-radius: 10px;
}
/* this style is affecting my modal, give your wrapper a name and style only your button -Faith */
/* .mantine-UnstyledButton-root {
  background-color: #ffff;
  border-color: #38cb89;
  color: #38cb89;
  padding: 10px;
  border-radius: 5px;
}
.mantine-UnstyledButton-root:hover {
  background-color: #38cb89;
  color: #ffff;
} */
.mantine-Progress-root {
  background-color: #eeefee;
}

.mantine-Progress-bar {
  background-color: #38cb89;
}

.mantine-Tooltip-tooltip {
  background: rgba(84, 86, 91, 0.84);
  padding: 1rem;
}

li.selected {
  color: #38cb89;
}

.checkbox {
  appearance: none;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(10%);
  height: 20px;
  width: 20px;
  background-color: #f1f2f3;
  border-radius: 5px;
}
.checkbox:checked::before {
  background-color: #38cb89;
  content: url('./Assets/check.svg');
  padding-left: 3px;
}
