::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgb(233, 230, 230);
}

.mantine-Modal-modal {
  border-radius: 1.75rem;
}
.mantine-Pagination-item {
  border: none;
}
.mantine-Pagination-item[data-active] {
  background-color: transparent;
  color: #38cb89;
}

.mantine-Pagination-item:first-child,
.mantine-Pagination-item:last-child {
  background-color: #38cb89;
  color: #fff;
}
.mantine-Popover-dropdown {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 10px;
  background-color: #f9fafb;
  border-color: #38cb89;
  padding: 15px;
  border-radius: 10px;
}
.mantine-UnstyledButton-root {
  background-color: #ffff;
  border-color: #38cb89;
  color: #38cb89;
  padding: 10px;
  border-radius: 5px;
}
.mantine-UnstyledButton-root:hover {
  background-color: #38cb89;
  color: #ffff;
}
.mantine-Progress-root {
  background-color: #eeefee;
}

.mantine-Progress-bar {
  background-color: #38cb89;
}

li.selected {
  color: #38cb89;
}
input[type='checkbox'] {
  accent-color: #38cb89;
  color: #fff;
}
input[type='checkbox']:checked {
  color: #fff;
}
